<html xmlns:th="https://www.thymeleaf.org">
<body>


<div>
    <p>--------------------------------------</p>
 </div>

<div>
    <img th:src="${image}"  alt="Image"/>
</div>

<div>
    <p>--------------------------------------</p>
</div>

<video controls width="450" height="392">
    <source th:src = "@{/video.mp4}" type="video/mp4">
</video>

<div>
    <p>--------------------------------------</p>
</div>

<video controls preload="auto" width="450" height="392">
    <source th:src="@{/spincubevideo.mp4}"  type=video/mp4>
</video>

<video controls preload="auto" width="450" height="392">
    <source th:src="${resultVideo64}"  type=video/mp4>
</video>


<div>
    <p>--------------------------------------</p>
</div>

<video controls preload="auto" width="450" height="392">
    <source th:src="@{${resultVideo}}" type=video/mp4>
</video>

<div>
    <p>--------------------------------------</p>
</div>

<video controls preload="auto" width="450" height="392">
    <source src="C:\Users\79164\AppData\Local\Temp\spincubevideo.mp4" type=video/mp4>
</video>


</body>
</html>
